import React, { useState } from 'react';
import * as Yup from 'yup';
import { TextField, Button, Box, Typography, Autocomplete, Select, MenuItem, FormControl, InputLabel } from '@mui/material';

const <%= componentName %> = ({ defaultValues, multiSelectOptions, selectOptions }) => {
    const [formData, setFormData] = useState({
      <% types.forEach(type => { 
         if (!type.primaryKey) { %>
        <%= type.name %>: defaultValues.<%= type.name %> !== undefined
          ? defaultValues.<%= type.name %>
          : <%- (type.yupType === 'string' ? "''" 
              : type.yupType === 'number' ? "0"
              : type.yupType === 'date' ? "new Date()"
              : type.yupType === 'array' ? "[]" 
              : type.yupType === 'object' ? "null" // Set custom objects to null
              : "''") %>,
      <% } }) -%>
    });

    const [errors, setErrors] = useState({});

    // Define Yup validation schema
    const validationSchema = Yup.object().shape({
        <% types.forEach(type => { 
           if (!type.primaryKey) { %>
        <%= type.name %>: Yup.<%= type.yupType -%>()
            <% if (type.required) { %>.required('<%= type.label %> is required')<% } -%>
            <% if (type.minLength) { %>.min(<%= type.minLength %>, '<%= type.label %> must be at least <%= type.minLength %> characters')<% } -%>
            <% if (type.maxLength) { %>.max(<%= type.maxLength %>, '<%= type.label %> must be at most <%= type.maxLength %> characters')<% } -%>
            <% if (type.min) { %>.min(<%= type.min %>, '<%= type.label %> must be greater than <%= type.min %>')<% } -%>
            <% if (type.max) { %>.max(<%= type.max %>, '<%= type.label %> must be less than <%= type.max %>')<% } -%>,
        <% } }) -%>
    });

    const handleChange = (e) => {
        const { name, value } = e.target;
        setFormData({
            ...formData,
            [name]: value
        });
    };

    const handleSubmit = async (e) => {
        e.preventDefault();

        try {
            // Validate form data
            await validationSchema.validate(formData, { abortEarly: false });
            setErrors({});
            // Perform CRUD operation after successful validation
            console.log('Form data:', formData);
        } catch (validationErrors) {
            const formattedErrors = {};
            validationErrors.inner.forEach(error => {
                formattedErrors[error.path] = error.message;
            });
            setErrors(formattedErrors);
        }
    };

    return (
        <Box component="form" onSubmit={handleSubmit} sx={{ display: 'flex', flexDirection: 'column', gap: 2 }}>
            <% types.forEach(type => { 
               if (!type.primaryKey) { %>
                <% if (type.type === 'multi-select') { %>
                  <Autocomplete
                    multiple
                    options={multiSelectOptions['<%= type.name %>'] || []} // Use passed multi-select options
                    getOptionLabel={(option) => option.label}
                    onChange={(event, newValue) => {
                      setFormData({ ...formData, <%= type.name %>: newValue });
                    }}
                    value={formData.<%= type.name %>}
                    renderInput={(params) => (
                      <TextField
                        {...params}
                        label="<%= type.label %>"
                        error={!!errors.<%= type.name %>}
                        helperText={errors.<%= type.name %> || ''}
                        variant="outlined"
                      />
                    )}
                  />
                <% } else if (type.type === 'select') { %>
                  <FormControl fullWidth variant="outlined" error={!!errors.<%= type.name %>}>
                    <InputLabel><%= type.label %></InputLabel>
                    <Select
                      label="<%= type.label %>"
                      name="<%= type.name %>"
                      value={formData.<%= type.name %>}
                      onChange={handleChange}
                    >
                      {(selectOptions['<%= type.name %>'] || []).map(option => (
                        <MenuItem key={option.value} value={option.value}>
                          {option.label}
                        </MenuItem>
                      ))}
                    </Select>
                    <Typography variant="caption" color="error">{errors.<%= type.name %> || ''}</Typography>
                  </FormControl>
                <% } else { %>
                  <TextField
                    fullWidth
                    label="<%= type.label %>"
                    name="<%= type.name %>"
                    type="<%= type.type %>"
                    value={formData.<%= type.name %>}
                    onChange={handleChange}
                    error={!!errors.<%= type.name %>}
                    helperText={errors.<%= type.name %> || ''}
                    variant="outlined"
                  />
                <% } %>
              <% } }) %>
            <Button type="submit" variant="contained" color="primary">Submit</Button>
        </Box>
    );
};

export default <%= componentName %>;
